@model IEnumerable<DEBusService.Models.routeStop>

@{
    ViewBag.Title = "RouteSelector";
}



<h2>RouteSelector</h2>
@using (Html.BeginForm())
{
    @Html.DropDownList("busRoutes", null, htmlAttributes: new { @class = "form-control" })

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    </div>
}